:root {
    --text-white: rgb(255, 255, 255);
    --text-black-alt: rgb(28, 25, 29);
    --background-black: black;
    --background-blue: rgb(25, 25, 164);
    --background-red: rgb(145, 34, 14);
    --background-green: rgba(11, 212, 31, 0.95);
}

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    font-size: 1.6rem;
}


.button {
    border: none;
    color: var(--text-white);
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.75em;
    margin: 1em auto;
    cursor: pointer;
    border-radius: 8px;
}

.add {
    background-color: var(--background-blue);
}

.add-to-recipe, .view-recipe {
    background-color: var(--background-green);
}

.delete {
    background-color: var(--background-red);
}

.nested-ul {
    margin-left: 1em;
}

.submit {
    background-color: var(--background-black);
    border: none;
    padding: 1em;
    font-size: 1em;
    margin: 1em auto;
    border-radius: 12px;
}



h1 {
    font-size: 5rem;
}

h2, header, footer {
    text-align: center;
}

header, footer {
    padding: 2em 0;
}

input[type="submit"] {
    display: block;
    margin: 1rem auto;
    font-size: 1.5rem;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: antiquewhite;
    display: flex;
}

ul {
    list-style-type: none;
}

.hide {
    display:none;
}

.input, .pantry, .recipe {
    margin: 1em 0;
}

.main {
    height: 100%;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    margin: auto 0.5rem;
    border-style: solid;
    border-radius: 25px;
}

.main-container {
    display: flex;
    /* height: fit-content; */
}