:root {
    --text-white: rgb(248, 233, 255);
    --text-black-alt: rgb(28, 25, 29);
    --background-black: black;
    --background-blue: rgb(59, 59, 99);
    --background-blue-dark: rgb(9, 9, 66);
    --background-gold: rgba(255, 215, 0, 0.95);
}

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    font-size: 5rem;
}

h2, header, footer {
    text-align: center;
}

header, footer {
    margin: 5em 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: antiquewhite;
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

.main {
    height: 80vh;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    margin: auto 0.5rem;
    border-style: solid;
    border-radius: 25px;
}

.main-container {
    display: flex;
}